.wi-form-result {
  display: flex;
  flex-direction: row;
}

.wi-form {
  flex-basis: 330px;
  margin: 10px;
}

.wi-form-buttons {
  display: inline-flex;
}

.wi-form-copy {
  margin-left: 5px;
  vertical-align: bottom;
}

.wi-result {
  margin: 10px;
}

.wi-result .react-monaco-editor-container {
  margin: 5px 0;
}
